body{
    background: green;
}
.container-fluid{margin-left: auto;margin-right: auto; width: fit-content;}
.card{
    background-color: aliceblue;
    text-align: center;
    display: inline-block;
    margin: auto;
    height: 400px;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px, 3px, 7px rgba(0, 0, 0, 0.452);
    position: relative;
}
.card p {
    font: 125px/150px Arial;
    font-weight: bold;
    font-display: block;
    text-align: center;
}

/* Los simbolos de las cartas*/
/* El simbolo CORAZÓN*/
div.simbolo-corazon:before {
  content: "♥";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: red;
}
div.simbolo-corazon:after {
  content: "♥";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: red;
  transform: rotate(180deg);
}
/* El simbolo DIAMANTE*/
div.simbolo-diamante:before {
  content: "♦";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: red;
}
div.simbolo-diamante:after {
  content: "♦";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: red;
  transform: rotate(180deg);
}
/* El simbolo PICA*/
div.simbolo-pica:before {
  content: "♠";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: black;
}
div.simbolo-pica:after {
  content: "♠";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}
/* El simbolo TRÉBOL*/
div.simbolo-trebol:before {
  content: "♣";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: black;
}
div.simbolo-trebol:after {
  content: "♣";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}

/*El boton de cambiar carta*/
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

